{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": false,
    "jest": true
  },
  "rules": {
    "camelcase": "off",
    "react/prop-types": "off"
  },
  "extends": ["airbnb"]
}